*{
    margin:0;
    padding: 0;
    border: 0;
}

.fundo{
    width:100%;
    font-weight: fundo;
    background-color: #212B56;
    display: flex;
    font-weight: bolder;
    position: fixed;
}

.menu{
    flex: 1;
    display: flex;
    color: white;
    justify-content: space-evenly;
}

.menu li{
    /*Isso daqui deixa em linha*/
    display: inline-block;
    padding: 10px;
    font-family: "Bebas";
    font-size: 2.5em;
}

.logo{
    display: inline-block;
    width: 15%;
}