*{
    margin:0;
    padding: 0;
    border: 0;
}
.fundo{
    width: 100%; /*largura*/
    background-color: #212b56;
    display: flex; 
    
}

.menu{
    width:85%;
    margin: 0px;
    
    
    
}

.menu li{
    /*Isso deixa em linha*/
    display: inline-block; 
    padding: 30px;
    color: white;  
    position:flex; 
    padding-left:60px ;
    padding-right:60px ;
    

    
}


.logo{
    display: inline-block; 
    width: 15%;
    margin-left: 20px;
    
}

