.footer {
  position: absolute;
  margin-bottom: 0;
  width: 100%;
  background-color: #212b56;
  color: white;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.Texto {
  text-align: center;
  font-family: 'CapitalAlegreya';
  width: 50%;
  margin-top: 25px;
}

.Icones {
  width: 50%;
  margin-top: 25px;
}

.Icones a img {
  width: 45px;
  margin: 5px;
}

.TextoBaixo {
  text-align: center;
  font-family: 'CapitalAlegreya';
  width: 100%;
}

.TextoBaixo p {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 900px) {

  .Icones,
  .Texto {
    width: 100%;
  }

  .TextoBaixo {
    margin-top: 25px;
  }
}