/* ================= */

.bg {
  background-repeat: round;
  z-index: -1;
  background-image: url('../../images/bgLogin.png');
}

.AppLogin {
  background-color: rgb(226, 226, 226, 0);
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.App__Form {
  background-color: #222b56;
  padding: 20px;
}

.FormTitle {
  color: #707C8B;
  font-weight: 300;
  margin-bottom: 50px;
}

.FormField {
  margin-bottom: 20px;
}

.FormField__Label {
  display: block;
  text-transform: uppercase;
  font-size: .9em;
  color: white;
}

.FormField__Input {
  width: 85%;
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  border-bottom: 1px solid #445366;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px;
}

.FormField__Button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 3px solid rgb(74, 72, 233) !important;
  outline: none;
  border-radius: 25px;
  padding: 15px 70px;
  font-size: .8em;
  font-weight: 500;
  cursor: pointer;
}

.FormTitle__Link {
  color: #707C8B;
  text-decoration: none;
  display: inline-block;
  font-size: 1.7em;
  margin: 0 10px;
  padding-bottom: 5px;
}

.FormTitle__Link:first-child {
  margin-left: 0;
}

.FormTitle__Link--Active {
  color: white;
  text-align: center;
  width: 100%;
  border-bottom: 3px solid rgb(56, 53, 209);
}

.FormField__Input::placeholder {
  color: #616E7F;
}

.FormField__Link {
  color: #66707D;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1.5px solid rgb(56, 53, 209);
  padding-bottom: 5px;
}

.FormField__CheckboxLabel {
  color: #646F7D;
  font-size: .9em;
}

.FormField__Checkbox {
  position: relative;
  top: 1.5px;
}

.FormField__TermsLink {
  color: white;
  border-bottom: 1px solid rgb(56, 53, 209);
  text-decoration: none;
  display: inline-block;
  padding-bottom: 2px;
  margin-left: 5px;
}

.ejcomp {
  text-align: center;
  color: rgb(112, 111, 111)
}