*{
    margin:0px;
    padding: 0px;
    border: 0px;
  }

  .titulo{

  }

  .conteudo{
    
  }

  .foto{
    width: 30%;
    height: 50%;
    border: 2px solid #3d3d3d;
    border-radius: 50px;
  }
  