
*{
  margin: 0;
  padding: 0;
  border: 0;

}

.fundoLogo{
  width: 100%;
}

.triangulo{
  width:100%;
  z-index: 1;
}

.container{
  margin: 80px auto 0;
  max-width: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.content{ /* todo o quadrado*/
  width: 180%;
  background:white;
  margin-top: 0px;
  border-radius: 4px;
  padding:70px;
  

}

.content > p{
  line-height: 30px;
  margin-bottom: 60px;
  text-align: center;
  font-family: 'Bebas';
  font-size: 48px;
  



}

.content form{
  display:flex;
  flex-direction: column;
}

.content form label{ /* nome, email, assunto*/
  font-size: 20px;
  color:black;
  font-weight: bold;
  margin-bottom: 8px;
  font-family: 'CapitalAlegreya';
  font-weight: bolder;
  font-style:normal;
   

}

.content form input{ /*barras*/
  margin-bottom:20px;
  border: 1px solid #dddb;
  border-radius: 20px;
  height:30px;
  width: 250px;
  padding: 20px 30px;
  font-size: 16px;
  border-top:1px solid #212b56;
  border-left:1px solid #212b56;
  border-right:1px solid #212b56; 
  border-bottom:1px solid #212b56;
  margin-left: 20px;
  float: left;
  display: block;
  position: flex;


}


.content button.btn{
  border:0;
  border-radius: 20px;
  width: 65%;
  height: 42px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: bold;
  background: #ccc9e2 ;
  color: black;
  cursor: pointer;
  border-top:3px solid #212b56;
  border-left:3px solid #212b56;
  border-right:3px solid #212b56; 
  border-bottom:3px solid #212b56;
  margin-left: 10%;
  margin-top: 10px;
  font-family: 'CapitalAlegreya';
  font-weight: normal;
  font-style:normal;
}

.content button.btn:hover{
  background: #ccc9e2;
}


.content form input#comentario{
  height: 120px;
  width: 60%;
  float: right;
  display: block;
  padding: 0 30px;
  margin-right: 15%;
  
}

.content form input#email{
  width: 55%;
  float: right;
  display: block;
  padding: 0 30px;
  margin-right: 20%;
  margin-bottom: 20px;
}



.content form input#nome{
  width: 55%;
  float: right;
  display: block;
  padding: 0 30px;
  margin-left: 25px;
  margin-right: 20%;
  margin-bottom: 25px;
}