.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-icon {
  color: black;
}

.App-icon:hover {
  color: #5BAADC;
  cursor: pointer;
}

.App-ListItem {
  color: white;
}

.App-ListItem:hover {
  background-color: #5BAADC !important;
}

.App-Button {
  background-color: #5BAADC !important;
  margin-top: 20px !important;
  margin-right: 20px !important;
  color: white;
}

.App-Button-Validar {
  background-color: #5BAADC !important;
  margin-right: 20px !important;
  color: white;
}

.App-forms>div {
  display: flex;
}

.App-forms>div>label {
  flex: 50%;
  margin-bottom: 10px;
}

.App-forms>div>label>a {
  margin-right: 10px;
}

.App-validar>div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.App-validar>div>button {
  margin-top: 0 !important;
  margin-left: 20px !important;
}

.App-validar>div>label>a {
  margin-right: 10px;
}

.linkDash {
  text-decoration: none !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ================= */

.PageSwitcher {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10%;
}

.PageSwitcher__Item {
  background-color: #4C5D72;
  color: #9DA6B1;
  padding: 10px 25px;
  cursor: pointer;
  font-size: .9em;
  border: none;
  outline: none;
  display: inline-block;
  text-decoration: none;
}

.PageSwitcher__Item--Active {
  background-color: rgb(56, 53, 209);
  ;
  color: white;
}

.PageSwitcher__Item:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.PageSwitcher__Item:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}