* {
  margin: 0;
  padding: 0;
  border: 0;

}

.App {
  overflow-x: hidden;
}

.divLogo {
  margin-top: 10vh;
  height: 100vh;
  display: flex;
  z-index: -2;
}

.fundoLogo {
  width: 30vw !important;
  height: 100vh;
}

.fundoLogo2 {
  position: absolute;
  left: 23vw;
  top: 25vh;
  width: 75.9vw;
  padding: 15px;
  z-index: -1;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.box.top {
  width: 100%;
  height: 35px;
  background-image: url("../../imagens/sombraCima.png");
  background-size: 90% 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}


.box.bottom {
  width: 100%;
  height: 35px;
  background-image: url("../../imagens/sombraBaixo.png");
  background-size: 90% 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 30px;
}

.img2 {
  position: relative;
  width: 85%;
  height: auto;
  max-height: 60vh;
  margin-left: 8.2%;
}

.primeiraBarra {
  height: 2px;
  background-color: rgba(60, 37, 131, 0.374);
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.container {
  margin: 80px auto 0;
  max-width: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.formContainer {
  /* todo o quadrado*/
  width: 180%;
  background: white;
  margin-top: 0px;
  border-radius: 4px;
  padding: 70px;


}

.formContainer>p {
  line-height: 30px;
  margin-bottom: 60px;
  text-align: center;
  font-family: 'Bebas';
  font-size: 48px;
  color: #212b56;




}

.formContainer form {
  display: flex;
  flex-direction: column;
}

.formContainer form label {
  /* name, Email, assunto*/
  font-size: 20px;
  color: #212b56;
  font-weight: bold;
  margin-bottom: 8px;
  font-family: 'CapitalAlegreya';
  font-weight: bolder;
  font-style: normal;


}

.formContainer form input {
  /*barras*/
  margin-bottom: 20px;
  border: 1px solid #dddb;
  border-radius: 20px;
  height: 30px;
  width: 250px;
  padding: 20px 30px;
  font-size: 16px;
  border-top: 1px solid #212b56;
  border-left: 1px solid #212b56;
  border-right: 1px solid #212b56;
  border-bottom: 1px solid #212b56;
  margin-left: 20px;
  float: left;
  display: block;
  position: flex;


}

.Comentario {
  /*barras*/
  margin-bottom: 20px;
  border: 1px solid #dddb;
  border-radius: 20px;
  height: 30px;
  width: 250px;
  padding: 20px 30px;
  font-size: 16px;
  border-top: 1px solid #212b56;
  border-left: 1px solid #212b56;
  border-right: 1px solid #212b56;
  border-bottom: 1px solid #212b56;
  margin-left: 20px;
  float: left;
  display: block;
  position: flex;


}




.formContainer button.btn {
  border: 0;
  border-radius: 20px;
  width: 65%;
  height: 42px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: bold;
  background: #ccc9e2;
  color: black;
  cursor: pointer;
  border-top: 3px solid #212b56;
  border-left: 3px solid #212b56;
  border-right: 3px solid #212b56;
  border-bottom: 3px solid #212b56;
  margin-left: 10%;
  margin-top: 10px;
  font-family: 'CapitalAlegreya';
  font-weight: normal;
  font-style: normal;
}

.formContainer button.btn:hover {
  background: #ccc9e2;
}





.formContainer form input#Email {
  box-sizing: unset !important;
  width: 55%;
  float: right;
  display: block;
  padding: 0 30px;
  margin-right: 20%;
  margin-bottom: 20px;
}

.formContainer form textarea#Comentario {
  box-sizing: unset !important;
  resize: none;
  width: 500px;
  float: right;
  display: block;
  margin-right: 14%;
  margin-bottom: 20px;
}




.formContainer form input#name {
  box-sizing: unset !important;
  width: 55%;
  float: right;
  display: block;
  padding: 0 30px;
  margin-left: 25px;
  margin-right: 20%;
  margin-bottom: 25px;
}

.mapa {
  border: 0px;
  width: 50%;
  height: 50%;
  margin-right: auto;
  margin-bottom: 10px;
}

.localizaçao {
  text-align: center;
  margin-bottom: 10px;
  color: #212b56;
  font-size: 25px;
  margin-right: 40%;
  font-family: 'Bebas';
  margin: 20px;

}

.endereço2 {
  margin-bottom: 7px;
  color: #212b56;
  font-family: 'CapitalAlegreya';
  font-weight: normal;
  font-style: normal;
}

.cep {
  margin-bottom: 7px;
  color: #212b56;
  font-family: 'CapitalAlegreya';
  font-weight: normal;
  font-style: normal;
}

.telefone2 {
  margin-bottom: 7px;
  color: #212b56;
  font-family: 'CapitalAlegreya';
  font-weight: normal;
  font-style: normal;
}

.TextoMapa {
  display: flex;
}

.Textos {
  width: 20%;
  margin-left: auto;

}


@media only screen and (max-width: 1366px) and (orientation: landscape) {

  .fundoLogo2 {
    top: 30vh;
  }
  
}

@media only screen and (max-width: 1200px) {
  body .App {
    overflow-x: hidden;
  }

  .fundoLogo {
    margin-top: 5vh;
    width: 25vw !important;
    height: 80vh;
  }

  .fundoLogo2 {
    width: 80vw;
    left: 20vw;
    top: 35vh;
  }

  .box.top,
  .box.bottom {
    background-size: contain;
  }

  .container {
    margin: 80px auto 0;
    max-width: 450px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .formContainer {
    /* todo o quadrado*/
    width: auto;
    background: white;
    margin-top: 0px;
    border-radius: 4px;
    padding: 20px;


  }

  .formContainer>p {
    line-height: 30px;
    margin-bottom: 60px;
    text-align: center;
    font-family: 'Bebas';
    font-size: 48px;
    color: #212b56;


  }

  .formContainer form {
    display: flex;
    flex-direction: column;
  }

  .formContainer form label {
    /* name, Email, assunto*/
    font-size: 20px;
    color: #212b56;
    font-weight: bold;
    margin-bottom: 8px;
    font-family: 'CapitalAlegreya';
    font-weight: bolder;
    font-style: normal;


  }

  .formContainer form input {
    margin-bottom: 20px;
    border: 1px solid #dddb;
    border-radius: 20px;
    height: 30px;
    width: 250px;
    padding: 20px 30px;
    font-size: 16px;
    border-top: 1px solid #212b56;
    border-left: 1px solid #212b56;
    border-right: 1px solid #212b56;
    border-bottom: 1px solid #212b56;
    margin-left: 20px;
    float: left;
    display: block;
    position: flex;


  }

  .Comentario {
    margin-bottom: 20px;
    border: 1px solid #dddb;
    border-radius: 20px;
    height: 30px;
    width: 250px;
    padding: 20px 30px;
    font-size: 16px;
    border-top: 1px solid #212b56;
    border-left: 1px solid #212b56;
    border-right: 1px solid #212b56;
    border-bottom: 1px solid #212b56;
    margin-left: 20px;
    float: left;
    display: block;
    position: flex;


  }

  .formContainer button.btn {
    border: 0;
    border-radius: 20px;
    width: 65%;
    height: 42px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: bold;
    background: #ccc9e2;
    color: black;
    cursor: pointer;
    border-top: 3px solid #212b56;
    border-left: 3px solid #212b56;
    border-right: 3px solid #212b56;
    border-bottom: 3px solid #212b56;
    margin-left: 17%;
    margin-top: 10px;
    font-family: 'CapitalAlegreya';
    font-weight: normal;
    font-style: normal;
  }

  .formContainer button.btn:hover {
    background: #ccc9e2;
  }




  .formContainer form input#Email {
    margin-top: 3%;
    box-sizing: unset !important;
    width: 85%;
    float: right;
    display: block;
    padding: 0 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
  }

  .formContainer form textarea#Comentario {
    resize: none;
    box-sizing: unset !important;
    margin-top: 3%;
    width: 85%;
    height: 55px;
    float: right;
    display: block;
    padding: 0 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
  }




  .formContainer form input#name {
    margin-top: 3%;
    box-sizing: unset !important;
    width: 85%;
    float: right;
    display: block;
    padding: 0 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
  }

  .mapa {

    width: 100%;
    height: 50%;
    align-items: center;
    display: block;

  }

  .TextoMapa {
    display: block;

  }

  .Textos {
    width: 60%;
    align-items: center;
    margin-bottom: 10%;
    margin-left: 20%;
  }

}

@media only screen and (max-width: 1000px) {

  .fundoLogo {
    margin-top: 5vh;
    width: 100vw;
    height: 80vh;
  }

  .fundoLogo2 {
    width: 80vw;
    left: 20vw;
    top: 13vh;
  }

  .box.top,
  .box.bottom {
    background-size: contain;
  }
}

@media only screen and (max-width: 900px) and (orientation: landscape) {

  .fundoLogo {
    margin-top: 5vh;
    width: 100vw;
    height: 80vh;
  }

  .fundoLogo2 {
    width: 80vw;
    left: 20vw;
    top: 18vh;
  }

  .box.top,
  .box.bottom {
    background-size: contain;
  }
}

@media only screen and (max-width: 900px) and (orientation: portrait)  {

  .divLogo{
    height: auto;
  }

  .fundoLogo {
    margin-top: 5vh;
    width: 20vw !important;
    height: 20vh;
  }

  .fundoLogo2 {
    top: 10vh;
    width: 85vw;
    left: 12.5vw;
  }

  .box.top,
  .box.bottom {
    background-size: contain;
  }
}

@media only screen and (max-width: 500px) {

  .divLogo{
    height: auto;
  }

  .fundoLogo {
    margin-top: 5vh;
    width: 20vw !important;
    height: 20vh;
  }

  .fundoLogo2 {
    top: 10vh;
    width: 85vw;
    left: 12.5vw;
  }

  .box.top{
    margin-bottom: 10px;
  }
  .box.bottom{
    margin-top: 10px;
  }

}

@media only screen and (max-width: 360px) {

  .divLogo{
    height: auto;
  }

  .fundoLogo {
    margin-top: 5vh;
    width: 20vw !important;
    height: 20vh;
  }

  .fundoLogo2 {
    top: 10vh;
    width: 85vw;
    left: 12.5vw;
  }

  .box.top{
    margin-bottom: 10px;
  }
  .box.bottom{
    margin-top: 10px;
  }

}