.cor{
    height: 3px;
    background-color: rgb(61, 37, 131);
}

.corGrossa{
    height: 5px;
    background-color: rgb(61, 37, 131);
}

.linha{
    display: flow-root;
    margin-top: 15vh;
    margin-bottom: 8vh;
}


