.imgCima{
    width: 100vw;
    height: 5vh;
    background-image: url("../../imagens/sombraCima.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.imgBaixo{
    width: 100vw;
    height: 5vh;
    background-image: url("../../imagens/sombraBaixo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.cor{
    height: 3px;
    background-color: rgb(61, 37, 131);
}

.linha{
    display: flow-root;
    margin-top: 6vh;
    margin-bottom: 3vh;
}