.cor{
    height: 3px;
    background-color: rgb(61, 37, 131);
}

.corGrossa{
    height: 5px;
    background-color: rgb(61, 37, 131);
}

.linha{
    display: block;
    margin-top: 30vh;
    margin-bottom: 8vh;
}

.linhaNM{
    display: block;
    margin-top: 10vh;
    margin-bottom: 8vh;
}


